html 
{
    background-image: linear-gradient(
    220deg,
  hsl(220deg 71% 34%) 0%,
  hsl(215deg 65% 31%) 14%,
  hsl(210deg 59% 29%) 29%,
  hsl(205deg 52% 26%) 43%,
  hsl(200deg 47% 24%) 57%,
  hsl(195deg 40% 21%) 71%,
  hsl(189deg 34% 18%) 86%,
  hsl(185deg 28% 16%) 100%
  );

    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Nunito';
}

div.chat {
    color: white;
    margin: auto;   
    margin-top: 5vh;
    border-radius: 10px;
    text-align: center;
    color: black;
}

div.chat {
    background-color: rgba(255, 255, 255, 0.5);
    width: 150vh;
    height: 90vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

input[type=text] {
    width: 50vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

div.chat #send {
    background-color: #00b300;
    border-color: none;
    text-align: center;
    padding: 1vh 5vh;
    padding-bottom: 1vh;
    border-radius: 5px;
    font-size: large;

}

div.chat #messages {
    margin: 10px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: larger;
    list-style-type: none;
    text-align: left;
    
}

div.chat #username {
    font-size: larger;
}

div.message {
    margin: 10px;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color:beige;
    color: black;
    font-size: larger;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

}
